body {
  font-weight: 300;
  font-size: 12px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  padding: 2px;
  margin: auto;
}

.post {
  margin: 2px;
  padding: 5px;
  width: 250px;
}

.sidebar {
  border: 1px solid rgb(132, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  width: 480px;
  text-align: left;
  margin: 2px;
}

.details-container {
  border: 1px solid #345;
}
.post-container {
  font-size: 16px;
  font-weight: 300;
}
